Package: chromeweblab
Version: 0.1 
Section: web
Priority: optional
Architecture: i386
Depends: python, node,  
Maintainer: Paul Kinlan <paulkinlan@google.com> 
Description: Web Lab is made of up 5 Chrome Experiment installations that bring the extraordinary workings of the internet to life and aims to inspire the world about the possibilities of the web.
.
The installations have been part of a year-long public exhibition at the Science Museum, London and can be interacted with by anyone, anywhere at chromeweblab.com.
.
Worldwide visitors both on and offline will be able to make music with people across the world; launch information into cyberspace and see where images on the web live; watch their portrait being processed, translated, and then drawn in sand by a robot; and travel instantly to far away places all over the world.
.
This Open Source project makes two of the experiments - Orchestra and Sketchbots - available for you to build and host yourself.
